@media (max-width:1232px) {
    .footer {
        &__container {
            padding: 40px 20px 24px 20px;
        }
    }
}
@media (max-width:990px) {
    .footer {
        height: 100%;
        &__container {
            padding: 20px;
            flex-direction: column;
            nav {
                ul {
                    flex-direction: column;
                    margin: 0;
                    margin-bottom: 30px;
                    li {
                        margin-bottom: 2px;
                    }
                }
            }
        }
        nav {
            width: 100%;
            max-width: 600px;
        }
        &__social {
            max-width: 320px;
            &_title {
                text-align: start;
            }
            &_links {
                a {
                    margin-left: 0;
                    margin-right: 8px;
                }
            }
        }
    }
}
@media (max-width:990px) {
    .footer{
        &__social {
            &_links {
                a {
                    width: 27px;
                    height: 27px;
                }
            }
        }
    }
}