@media (max-width:1540px) {
    .header {
        nav {
            display: flex;
            ul {
                margin: 0;
            }
        }
    }
}
@media (max-width:1232px) {
    .header {
        display: flex;
        justify-content: flex-end;
        padding: 12px 10px;
        z-index: 5;
        nav {
            display: none;
        }
        &__options {
            display: none;
        }
        .burgerMenu {
            display: flex;
            align-items: center;
            width: 76px;
            justify-content: space-between;
            &__language {
                width: 36px;
                height: 36px;
                box-sizing: border-box;
                border: 2px solid #9DADF2;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
            &__burger {
                width: 28px;
                height: 19px;
                position: relative;
                transform: rotate(0deg);
                transition: .5s ease-in-out;
                cursor: pointer;
                cursor: pointer;
                div {
                    background-color: #FFF;
                    width: 100%;
                    position: absolute;
                    height: 3px;
                    width: 100%;
                    border-radius: 1px;
                    opacity: 1;
                    left: 0;
                    transform: rotate(0deg);
                    transition: .25s ease-in-out;
                    &:nth-child(1){
                        top: 0px;
                    }
                    &:nth-child(2){
                        top: 8px;
                    }
                    &:nth-child(3){
                        top: 16px;
                    }
                }
                &-open {
                    div {
                        &:nth-child(1){
                            top: 10px;
                            transform: rotate(135deg);
                        }
                        &:nth-child(2){
                            display: none;
                        }
                        &:nth-child(3){
                            top: 10px;
                            transform: rotate(-135deg);
                        }
                    }
                }
            }
            &__nav {
                height: 482px;
                width: 300px;
                position: absolute;
                z-index: 5;
                right: 0;
                top: 96px;
                display: none;
                flex-direction: column;
                justify-content: space-between;
                &-active {
                    display: flex;
                }
                &-container{
                    display: block;
                    list-style: none;
                    width: 100%;
                    margin-bottom: 30px;
                }
                &_item {
                    display: flex;
                    align-items: center;
                    padding-left: 20px;
                    width: 280px;
                    height: 54px;
                    border: 2px solid #478BF9;
                    border-radius: 28px;
                    margin-bottom: 5px;
                    background-color: #110A1D;
                    color:  #FFF;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 24px;
                    text-decoration: none;
                }
                nav{
                    display: block;
                    height: 100%;
                }
                &_btn {
                    width: 300px;
                    padding: 13px 20px;
                    border: 2px solid #478BF9;
                    border-radius: 28px;
                    background-color: #110A1D;
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-bottom: 5px;
                    &-signUp {
                        background-color: #478BF9;
                    }
                }
            }

        }
    }
}