.header {
  position: relative;
  margin: 0 auto;
  max-width: 1640px;
  padding: 24px;
  border-radius: 64px;
  border: 4px solid #478BF9;
  z-index: 4;
}
.header nav {
  height: 48px;
}
.header nav ul {
  display: flex;
  padding: 0;
  width: 588px;
  height: 100%;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
}
.header nav ul .header__item {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
}
.header nav ul .header__item a {
  color: #FFF;
  text-decoration: none;
}
.header__options {
  display: flex;
  justify-content: flex-end;
  width: 287px;
  height: 48px;
  position: absolute;
  top: 24px;
  right: 48px;
}
.header__options_btn {
  margin-left: 14px;
  padding: 12px;
  background: none;
  color: #fff;
  border-radius: 24px;
  border: 2px solid #478BF9;
  cursor: pointer;
  text-transform: uppercase;
}
.header__options_btn:hover {
  background-color: #478BF9;
}
.header__options_btn-language {
  display: flex;
  align-items: center;
}
.header__options_btn-language img {
  margin-right: 8px;
}

@media (max-width: 1540px) {
  .header nav {
    display: flex;
  }
  .header nav ul {
    margin: 0;
  }
}
.mainContent {
  margin: 0 auto;
  position: relative;
  margin-top: 140px;
  max-width: 1640px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-bottom: 250px;
}
.mainContent__titleBlock {
  position: relative;
  z-index: 3;
  width: 669px;
}
.mainContent__titleBlock h1 {
  margin: 0;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  color: #FFF;
  text-transform: uppercase;
}
.mainContent__titleBlock h1 span {
  color: #478BF9;
}
.mainContent__titleBlock h4 {
  margin: 24px 0 0 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}
.mainContent__titleBlock_btn {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #478BF9;
  padding: 20px 70px;
  color: #FFF;
  border-radius: 48px;
  margin-top: 48px;
  cursor: pointer;
}
.mainContent__blog {
  position: relative;
  z-index: 4;
  width: 531px;
  height: 595px;
}
.mainContent__blog_title {
  text-align: center;
  color: #FFF;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.mainContent__blog_articles {
  overflow-y: auto;
  height: 100%;
  padding: 24px;
  padding-right: 16px;
  margin-right: 16px;
}
.mainContent__blog_articles-container {
  padding-bottom: 24px;
  background: rgba(255, 255, 255, 0.12);
  overflow: hidden;
  border-radius: 100px;
  width: 100%;
  border: 3px solid #478BF9;
  height: 100%;
}
.mainContent__blog_articles::-webkit-scrollbar {
  width: 8px;
}
.mainContent__blog_articles::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.12);
  margin: 90px 0 150px 0;
  border-radius: 4px;
}
.mainContent__blog_articles::-webkit-scrollbar-thumb {
  background-color: #478BF9;
  border-radius: 4px;
}
.mainContent__blog_articles-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 16px;
  padding: 16px 64px;
  background-color: #1E1231;
  border-radius: 196px;
  width: 331px;
  cursor: pointer;
}
.mainContent__blog_articles-item a {
  margin: 0;
  display: block;
  text-decoration: none;
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 14px;
}
.mainContent__blog_articles-item div {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
}
.mainContent__blog_articles-item:hover {
  background-color: #478BF9;
}
.mainContent__blog_articles-item:hover div {
  color: #FFF;
}

@media (max-width: 1915px) {
  .mainContent__titleBlock h1 {
    font-size: 80px;
  }
  .mainContent__titleBlock h4 {
    font-size: 25px;
  }
  .mainContent__titleBlock_btn {
    font-size: 20px;
  }
}
@media (max-width: 1750px) {
  .mainContent__titleBlock h1 {
    font-size: 70px;
  }
  .mainContent__titleBlock h4 {
    font-size: 20px;
  }
  .mainContent__titleBlock_btn {
    font-size: 15px;
  }
  .mainContent__blog {
    width: 430px;
    height: 495px;
  }
  .mainContent__blog_title {
    font-size: 30px;
  }
  .mainContent__blog_articles-item {
    width: 235px;
  }
  .mainContent__blog_articles-item a {
    font-size: 18px;
  }
}
@media (max-width: 1540px) {
  .mainContent {
    margin-top: 400px;
  }
}
.footer {
  border-radius: 64px 64px 0px 0px;
  border: 4px solid #478BF9;
  width: 99%;
  border-bottom: none;
  background-color: #110A1D;
  height: 130px;
  position: relative;
  z-index: 4;
}
.footer__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1640px;
  padding: 40px 140px 24px 140px;
}
.footer nav {
  width: 600px;
}
.footer nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.footer nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.footer nav ul li a:hover {
  color: #478BF9;
  text-decoration: underline;
}
.footer__social_title {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 20px;
  text-align: end;
  margin-bottom: 10px;
}
.footer__social_links {
  display: flex;
  justify-content: space-between;
}
.footer__social_links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #478BF9;
  margin-left: 8px;
}
.footer__social_links a:hover {
  background-color: #96a8f7;
}

.swiper {
  width: 100%;
  height: 868px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: -moz-fit-content !important;
  height: fit-content !important;
  margin-bottom: 7px;
}
.swiper-slide img {
  display: block;
  width: 100px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper__container {
  display: flex;
  width: 400px;
  justify-content: space-between;
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.swiper__container::before {
  content: "";
  position: absolute;
  z-index: 7;
  width: 400px;
  height: 150px;
  opacity: 0.9;
  bottom: -40px;
  left: -15px;
  background: linear-gradient(256deg, #110A1D 20%, #110A1D 90%);
  filter: blur(22px);
}
.swiper__container::after {
  content: "";
  position: absolute;
  z-index: 3;
  width: 400px;
  height: 150px;
  opacity: 0.9;
  top: -40px;
  left: -15px;
  background: linear-gradient(256deg, #110A1D 20%, #110A1D 100%);
  filter: blur(22px);
}

.slider__left {
  opacity: 0.2;
}
.slider__middle {
  opacity: 0.5;
}
.slider__right {
  opacity: 0.2;
}

@media (max-width: 1750px) {
  .swiper {
    height: 900px;
  }
  .swiper-slide img {
    width: 70px;
  }
  .swiper__container {
    width: 250px;
  }
}
@media (max-width: 1540px) {
  .swiper {
    height: 1040px;
  }
  .swiper__container {
    rotate: 90deg;
    opacity: 0.6;
    top: -90px;
    left: 40%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%);
  }
}
* {
  font-family: Lexend;
}

body {
  margin: 0;
  width: 100%;
  background: #110A1D;
}

.promo {
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  max-width: 1920px;
  padding: 16px 140px 0 140px;
}
.promo__glow_linear {
  z-index: 1;
  position: absolute;
  top: -170px;
  left: 200px;
  width: 226px;
  height: 902px;
  transform: rotate(-54.311deg);
  background: linear-gradient(180deg, #478BF9 0%, rgba(71, 139, 249, 0.4) 100%);
  opacity: 0.55;
  filter: blur(150px);
}
.promo__glow_point {
  z-index: 3;
  bottom: 0;
  right: -150px;
  position: absolute;
  width: 574px;
  height: 574px;
  border-radius: 574px;
  opacity: 0.7;
  background: linear-gradient(256deg, #478BF9 0%, #9DADF2 100%);
  filter: blur(325px);
}

@media (max-width: 1750px) {
  .promo__glow_linear {
    top: -170px;
    left: 200px;
    width: 230px;
    height: 502px;
  }
  .promo__glow_point {
    right: 0;
    bottom: 0;
  }
}
@media (max-width: 1540px) {
  .promo__glow_linear {
    top: 150px;
    left: 100px;
    width: 230px;
    height: 502px;
  }
  .promo__glow_point {
    right: 0;
    width: 200px;
    height: 200px;
    bottom: 0px;
    filter: blur(125px);
  }
}/*# sourceMappingURL=main.css.map */