.header {
  position: relative;
  margin: 0 auto;
  max-width: 1640px;
  padding: 24px;
  border-radius: 64px;
  border: 4px solid #478BF9;
  z-index: 4;
}
.header nav {
  height: 48px;
}
.header nav ul {
  display: flex;
  padding: 0;
  width: 588px;
  height: 100%;
  justify-content: space-around;
  margin: 0 auto;
  align-items: center;
}
.header nav ul .header__item {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
}
.header nav ul .header__item a {
  color: #FFF;
  text-decoration: none;
}
.header__options {
  display: flex;
  justify-content: flex-end;
  width: 287px;
  height: 48px;
  position: absolute;
  top: 24px;
  right: 48px;
}
.header__options_btn {
  margin-left: 14px;
  padding: 12px;
  background: none;
  color: #fff;
  border-radius: 24px;
  border: 2px solid #478BF9;
  cursor: pointer;
  text-transform: uppercase;
}
.header__options_btn:hover {
  background-color: #478BF9;
}
.header__options_btn-language {
  display: flex;
  position: relative;
  align-items: center;
}
.header__options_btn-language img {
  margin-right: 8px;
}
.header__options_languages {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 40px;
  left: 26px;
  display: none;
}
.header__options_languages-active {
  display: block;
}
.header__options_languages ul {
  list-style: none;
  padding: 0;
}
.header__options_languages ul li {
  text-align: center;
  color: #fff;
  width: 42px;
  border: 2px solid #478BF9;
  border-radius: 24px;
  padding: 12px;
  margin-bottom: 3px;
  background-color: #110A1D;
  cursor: pointer;
}
.header .burgerMenu {
  display: none;
}
.header .burgerMenu__language_list {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 40px;
  right: -10px;
  display: none;
  z-index: 6;
}
.header .burgerMenu__language_list-active {
  display: block;
}
.header .burgerMenu__language_list ul {
  list-style: none;
  padding: 0;
}
.header .burgerMenu__language_list ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  width: 40px;
  height: 40px;
  border: 2px solid #478BF9;
  border-radius: 100%;
  margin-bottom: 3px;
  background-color: #110A1D;
  cursor: pointer;
}

@media (max-width: 1540px) {
  .header nav {
    display: flex;
  }
  .header nav ul {
    margin: 0;
  }
}
@media (max-width: 1232px) {
  .header {
    display: flex;
    justify-content: flex-end;
    padding: 12px 10px;
    z-index: 5;
  }
  .header nav {
    display: none;
  }
  .header__options {
    display: none;
  }
  .header .burgerMenu {
    display: flex;
    align-items: center;
    width: 76px;
    justify-content: space-between;
  }
  .header .burgerMenu__language {
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    border: 2px solid #9DADF2;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .header .burgerMenu__burger {
    width: 28px;
    height: 19px;
    position: relative;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    cursor: pointer;
  }
  .header .burgerMenu__burger div {
    background-color: #FFF;
    width: 100%;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  .header .burgerMenu__burger div:nth-child(1) {
    top: 0px;
  }
  .header .burgerMenu__burger div:nth-child(2) {
    top: 8px;
  }
  .header .burgerMenu__burger div:nth-child(3) {
    top: 16px;
  }
  .header .burgerMenu__burger-open div:nth-child(1) {
    top: 10px;
    transform: rotate(135deg);
  }
  .header .burgerMenu__burger-open div:nth-child(2) {
    display: none;
  }
  .header .burgerMenu__burger-open div:nth-child(3) {
    top: 10px;
    transform: rotate(-135deg);
  }
  .header .burgerMenu__nav {
    height: 482px;
    width: 300px;
    position: absolute;
    z-index: 5;
    right: 0;
    top: 96px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
  }
  .header .burgerMenu__nav-active {
    display: flex;
  }
  .header .burgerMenu__nav-container {
    display: block;
    list-style: none;
    width: 100%;
    margin-bottom: 30px;
  }
  .header .burgerMenu__nav_item {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 280px;
    height: 54px;
    border: 2px solid #478BF9;
    border-radius: 28px;
    margin-bottom: 5px;
    background-color: #110A1D;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
  }
  .header .burgerMenu__nav nav {
    display: block;
    height: 100%;
  }
  .header .burgerMenu__nav_btn {
    width: 300px;
    padding: 13px 20px;
    border: 2px solid #478BF9;
    border-radius: 28px;
    background-color: #110A1D;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .header .burgerMenu__nav_btn-signUp {
    background-color: #478BF9;
  }
}
.mainContent {
  margin: 0 auto;
  position: relative;
  max-width: 1640px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-bottom: 250px;
}
.mainContent__glow_linear {
  z-index: 1;
  position: absolute;
  top: -170px;
  left: 200px;
  width: 226px;
  height: 902px;
  transform: rotate(-54.311deg);
  background: linear-gradient(180deg, #478BF9 0%, rgba(71, 139, 249, 0.4) 100%);
  opacity: 0.55;
  filter: blur(150px);
}
.mainContent__glow_point {
  z-index: 3;
  bottom: 0;
  right: -150px;
  position: absolute;
  width: 574px;
  height: 574px;
  border-radius: 574px;
  opacity: 0.7;
  background: linear-gradient(256deg, #478BF9 0%, #9DADF2 100%);
  filter: blur(225px);
}
.mainContent__titleBlock {
  position: relative;
  z-index: 3;
  max-width: 535px;
}
.mainContent__titleBlock h1 {
  margin: 0;
  font-size: 96px;
  font-style: normal;
  font-weight: 500;
  color: #FFF;
  text-transform: uppercase;
}
.mainContent__titleBlock h1 span {
  color: #478BF9;
}
.mainContent__titleBlock h4 {
  margin: 24px 0 0 0;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
}
.mainContent__titleBlock_btn {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #478BF9;
  border: none;
  padding: 20px 70px;
  color: #FFF;
  border-radius: 48px;
  margin-top: 48px;
  cursor: pointer;
}
.mainContent__blog {
  position: relative;
  z-index: 4;
  width: 531px;
  height: 595px;
}
.mainContent__blog_title {
  text-align: center;
  color: #FFF;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.mainContent__blog_articles {
  overflow-y: auto;
  height: 100%;
  padding: 24px;
  padding-right: 16px;
  margin-right: 16px;
}
.mainContent__blog_articles-container {
  padding-bottom: 24px;
  background: rgba(255, 255, 255, 0.12);
  overflow: hidden;
  border-radius: 100px;
  width: 100%;
  border: 3px solid #478BF9;
  height: 100%;
}
.mainContent__blog_articles::-webkit-scrollbar {
  width: 8px;
}
.mainContent__blog_articles::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.12);
  margin: 90px 0 150px 0;
  border-radius: 4px;
}
.mainContent__blog_articles::-webkit-scrollbar-thumb {
  background-color: #478BF9;
  border-radius: 4px;
}
.mainContent__blog_articles-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 16px;
  padding: 16px 64px;
  background-color: #1E1231;
  border-radius: 196px;
  width: 331px;
  cursor: pointer;
}
.mainContent__blog_articles-item a {
  margin: 0;
  display: block;
  text-decoration: none;
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 14px;
}
.mainContent__blog_articles-item div {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
}
.mainContent__blog_articles-item:hover {
  background-color: #478BF9;
}
.mainContent__blog_articles-item:hover div {
  color: #FFF;
}

@media (max-width: 1915px) {
  .mainContent__titleBlock h1 {
    font-size: 80px;
  }
  .mainContent__titleBlock h4 {
    font-size: 25px;
  }
  .mainContent__titleBlock_btn {
    font-size: 20px;
  }
}
@media (max-width: 1750px) {
  .mainContent__glow_linear {
    top: 10px;
    left: 200px;
    width: 230px;
    height: 502px;
  }
  .mainContent__glow_point {
    width: 300px;
    height: 300px;
    right: -100px;
    bottom: 100px;
  }
  .mainContent__titleBlock {
    width: 400px;
  }
  .mainContent__titleBlock h1 {
    font-size: 70px;
  }
  .mainContent__titleBlock h4 {
    font-size: 20px;
  }
  .mainContent__titleBlock_btn {
    font-size: 15px;
  }
  .mainContent__blog {
    width: 430px;
    height: 495px;
  }
  .mainContent__blog_title {
    font-size: 32px;
  }
  .mainContent__blog_articles-item {
    width: 235px;
  }
  .mainContent__blog_articles-item a {
    font-size: 18px;
  }
}
@media (max-width: 1540px) {
  .mainContent {
    flex-direction: column;
    margin-top: 70px;
  }
  .mainContent__titleBlock h1 {
    text-align: center;
  }
  .mainContent__titleBlock h2 {
    text-align: center;
  }
  .mainContent__titleBlock_btn {
    display: block;
    margin: 0 auto;
    margin-top: 48px;
  }
  .mainContent__glow_linear {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .mainContent__glow_point {
    right: 0;
    width: 200px;
    height: 200px;
    bottom: 0px;
    filter: blur(125px);
  }
}
@media (max-width: 1232px) {
  .mainContent {
    padding-bottom: 250px;
    height: 1103px;
    margin-top: 70px;
    flex-direction: column;
    justify-content: space-between;
  }
  .mainContent__glow_linear {
    top: -150px;
    left: 33%;
  }
  .mainContent__glow_point {
    right: 150px;
    bottom: -100px;
  }
  .mainContent__titleBlock h1 {
    text-align: center;
  }
  .mainContent__titleBlock h4 {
    text-align: center;
  }
  .mainContent__titleBlock_btn {
    display: block;
    margin: 0 auto;
    margin-top: 24px;
  }
}
@media (max-width: 756px) {
  .mainContent {
    margin-bottom: 0;
  }
  .mainContent__titleBlock h1 {
    font-size: 61px;
  }
  .mainContent__titleBlock h4 {
    font-size: 15px;
  }
  .mainContent__titleBlock_btn {
    font-size: 18px;
  }
  .mainContent__glow_linear {
    top: -150px;
    left: 33%;
  }
  .mainContent__glow_point {
    right: 150px;
    bottom: 100px;
  }
  .mainContent__blog {
    width: 300px;
  }
  .mainContent__blog_articles {
    padding: 10px;
    padding-right: 5px;
    margin-right: 6px;
  }
  .mainContent__blog_articles::-webkit-scrollbar {
    width: 4px;
  }
  .mainContent__blog_articles::-webkit-scrollbar-track {
    margin: 60px 0 90px 0;
  }
  .mainContent__blog_articles-container {
    border-radius: 50px;
  }
  .mainContent__blog_articles-item {
    border-radius: 40px;
    width: 205px;
    padding: 15px 35px;
  }
  .mainContent__blog_articles-item a {
    font-size: 16px;
  }
}
@media (max-width: 500px) {
  .mainContent__glow_linear {
    top: -10px;
    left: 30%;
    width: 140px;
    height: 250px;
  }
  .mainContent__glow_point {
    right: 62px;
    bottom: -150px;
  }
  .mainContent__titleBlock {
    width: 100%;
    max-width: 400px;
  }
  .mainContent__titleBlock h1 {
    font-size: 50px;
  }
  .mainContent__titleBlock_btn {
    font-size: 16px;
  }
}
@media (max-width: 705px) {
  .mainContent {
    height: 1034px;
  }
}
.footer {
  border-radius: 64px 64px 0px 0px;
  margin: 0 auto;
  border: 4px solid #478BF9;
  width: 96%;
  border-bottom: none;
  background-color: #110A1D;
  height: 130px;
  position: relative;
  z-index: 4;
}
.footer__container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1640px;
  padding: 40px 140px 24px 140px;
}
.footer nav {
  width: 600px;
}
.footer nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
}
.footer nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.footer nav ul li a:hover {
  color: #478BF9;
  text-decoration: underline;
}
.footer__social_title {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 20px;
  text-align: end;
  margin-bottom: 10px;
}
.footer__social_links {
  display: flex;
  justify-content: space-between;
}
.footer__social_links a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background-color: #478BF9;
  margin-left: 8px;
}
.footer__social_links a:hover {
  background-color: #96a8f7;
}

@media (max-width: 1232px) {
  .footer__container {
    padding: 40px 20px 24px 20px;
  }
}
@media (max-width: 990px) {
  .footer {
    height: 100%;
  }
  .footer__container {
    padding: 20px;
    flex-direction: column;
  }
  .footer__container nav ul {
    flex-direction: column;
    margin: 0;
    margin-bottom: 30px;
  }
  .footer__container nav ul li {
    margin-bottom: 2px;
  }
  .footer nav {
    width: 100%;
    max-width: 600px;
  }
  .footer__social {
    max-width: 320px;
  }
  .footer__social_title {
    text-align: start;
  }
  .footer__social_links a {
    margin-left: 0;
    margin-right: 8px;
  }
}
@media (max-width: 990px) {
  .footer__social_links a {
    width: 27px;
    height: 27px;
  }
}
.swiper {
  width: 100%;
  height: 868px;
}
.swiper-wrapper {
  align-items: center;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: -moz-fit-content !important;
  height: fit-content !important;
  margin-bottom: 7px;
}
.swiper-slide img {
  display: block;
  width: 100px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper__container {
  display: flex;
  width: 400px;
  justify-content: space-between;
  position: relative;
  align-self: center;
  z-index: 1;
}
.swiper__container::before {
  content: "";
  position: absolute;
  z-index: 7;
  width: 400px;
  height: 150px;
  opacity: 0.9;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(256deg, #110A1D 20%, #110A1D 90%);
  filter: blur(22px);
}
.swiper__container::after {
  content: "";
  position: absolute;
  z-index: 3;
  width: 400px;
  height: 150px;
  opacity: 0.9;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(256deg, #110A1D 20%, #110A1D 100%);
  filter: blur(22px);
}

.slider__left {
  opacity: 0.2;
}
.slider__middle {
  opacity: 0.5;
}
.slider__right {
  opacity: 0.2;
}

@media (max-width: 1540px) {
  .swiper {
    height: 150px;
  }
  .swiper-slide {
    margin-bottom: 0;
    margin-right: 7px;
    height: 100%;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  .swiper-slide-horizontal img {
    width: 220px;
  }
  .swiper__container {
    width: 100%;
    flex-direction: column;
    opacity: 0.9;
  }
  .swiper__container::before {
    width: 150px;
    height: 400px;
    right: -50px;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
  }
  .swiper__container::after {
    width: 150px;
    height: 400px;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 705px) {
  .swiper {
    height: 70px;
  }
  .swiper-slide img {
    width: 50px;
  }
  .swiper-slide-horizontal img {
    width: 110px;
  }
  .swiper__container::before {
    display: none;
  }
  .swiper__container::after {
    display: none;
  }
}
* {
  font-family: Lexend;
}

body {
  margin: 0;
  width: 100%;
  background: #110A1D;
}

.container {
  margin: 0 auto;
  position: relative;
  min-height: 100%;
  max-width: 1920px;
  padding: 16px 140px 0 140px;
}

@media (max-width: 756px) {
  .container {
    padding: 16px 5px 0 5px;
  }
}/*# sourceMappingURL=main.css.map */