.mainContent {
    margin: 0 auto;
    position: relative;
    max-width: 1640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-bottom: 250px;
    &__glow {
        &_linear {
            z-index: 1;
            position: absolute;
            top: -170px;
            left: 200px;
            width: 226px;
            height: 902px;
            transform: rotate(-54.311deg);
            background: linear-gradient(180deg, #478BF9 0%, rgba(71, 139, 249, 0.40) 100%);
            opacity: 0.55;
            filter: blur(150px);
        }
        &_point {
            z-index: 3;
            bottom: 0;
            right: -150px;
            position: absolute; 
            width: 574px;
            height: 574px;
            border-radius: 574px;
            opacity: 0.7;
            background: linear-gradient(256deg, #478BF9 0%, #9DADF2 100%);
            filter: blur(225px);
        }
    }
    &__titleBlock {
        position: relative;
        z-index: 3;
        max-width: 535px;
        h1 {
            margin: 0;
            font-size: 96px;
            font-style: normal;
            font-weight: 500;
            color: #FFF;
            text-transform: uppercase;
            span {
                color: #478BF9;
            }
        }
        h4 {
            margin: 24px 0 0 0;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.60);
        }
        &_btn {
            font-size: 24px;
            font-weight: 600;
            text-transform: uppercase;
            background-color: #478BF9;
            border: none;
            padding: 20px 70px;
            color: #FFF;
            border-radius: 48px;
            margin-top: 48px;
            cursor: pointer;
        }
    }
    &__blog {
        position: relative;
        z-index: 4;
        width: 531px;
        height: 595px;
        &_title {
            text-align: center;
            color:#FFF;
            font-size: 40px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 24px;
        }
        &_articles {
            overflow-y: auto;
            height: 100%;
            padding: 24px;
            padding-right: 16px;
            margin-right: 16px;
            &-container {
                padding-bottom: 24px;    
                background: rgba(255, 255, 255, 0.12);
                overflow: hidden;
                border-radius: 100px;
                width: 100%;
                border: 3px solid #478BF9;
                height: 100%;
                
            }
            
            &::-webkit-scrollbar {
                width: 8px;
            }
            &::-webkit-scrollbar-track {
                background: rgba($color: #FFF, $alpha: .12);
                margin: 90px 0 150px 0;
                border-radius: 4px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #478BF9; 
                border-radius: 4px;

            }
            &-item{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                margin-bottom: 16px;
                padding: 16px 64px;
                background-color: #1E1231;
                border-radius: 196px;
                width: 331px;
                cursor: pointer;
                a {
                    margin: 0;
                    display: block;
                    text-decoration: none;
                    color: #FFF;
                    font-size: 24px;
                    font-weight: 400;
                    margin-bottom: 14px;
                }
                div {
                    
                    color: rgba(255, 255, 255, 0.60);
                    font-size: 14px;
                    font-weight: 400;
                    
                }
                &:hover {
                    background-color: #478BF9;
                    div {
                        color: #FFF;
                    }
                }
            }
        }
    }
}


@media (max-width:1915px) {
    .mainContent {
        &__titleBlock {
            h1 {
                font-size: 80px;
            }
            h4 {
                font-size: 25px;
            }
            &_btn {
                font-size: 20px;
            }
        }

    }
}
@media (max-width:1750px) {
    .mainContent {
        &__glow {
            &_linear {
                top: 10px;
                left: 200px;
                width: 230px;
                height: 502px;

            }
            &_point {
                width: 300px;
                height: 300px;
                right: -100px;
                bottom: 100px;
            }
        }
        &__titleBlock {
            width: 400px;
            h1 {
                font-size: 70px;
            }
            h4 {
                font-size: 20px;
            }
            &_btn {
                font-size: 15px;
            }
        }
        &__blog {
            width: 430px;
            height: 495px;
            &_title {
                font-size: 32px;
            }
            &_articles {
                &-item {
                    width: 235px;
                    a {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}
@media (max-width:1540px){
    .mainContent {
        flex-direction: column;
        margin-top: 70px;
        &__titleBlock {
            h1 {
                text-align: center;
            }
            h2{
                text-align: center;
            }
            &_btn {
                display: block;
                margin: 0 auto;
                margin-top: 48px;
            }
        }
        &__glow {
            &_linear {
                top: 0;
                left: 50%;
                transform: translateX(-50%);
            }
            &_point {
                right: 0;
                width: 200px;
                height: 200px;
                bottom: 0px;
                filter: blur(125px);
            }
        } 
    }
}
@media (max-width:1232px) {
    .mainContent {
        padding-bottom: 250px;
        height: 1103px;
        margin-top: 70px;
        flex-direction: column;
        justify-content: space-between;
        &__glow {
            &_linear {
                top: -150px;
                left: 33%;

            }
            &_point {
                right: 150px;
                bottom: -100px;
            }
        } 
        &__titleBlock {
            h1 {
                text-align: center;
            }
            h4 {
                text-align: center;
            }
            &_btn {
               display: block;
               margin: 0 auto;
               margin-top: 24px;
            }
        }
    }
}
@media (max-width:756px) {
    .mainContent {
        margin-bottom: 0;
        &__titleBlock {
            h1 {
                font-size: 61px;
            }
            h4 {
                font-size: 15px;
            }
            &_btn {
                font-size: 18px;
            }
        }
        &__glow {
            &_linear {
                top: -150px;
                left: 33%;

            }
            &_point {
                right: 150px;
                bottom: 100px;
            }
        } 
        &__blog {
            width: 300px;
            &_articles {
                padding: 10px;
                padding-right: 5px;
                margin-right: 6px;
                &::-webkit-scrollbar {
                    width: 4px;
                }
                &::-webkit-scrollbar-track {
                    margin: 60px 0 90px 0;
                }
                &-container {
                    border-radius: 50px;
                }
                &-item {
                    border-radius: 40px;
                    width: 205px;
                    padding: 15px 35px;
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}
@media (max-width:500px) {
    .mainContent {
        &__glow {
            &_linear {
                top: -10px;
                left: 30%;
                width: 140px;
                height: 250px;

            }
            &_point {
                right: 62px;
                bottom: -150px;
            }
        }
        &__titleBlock {
            width: 100%;
            max-width: 400px;
            h1 {
                font-size: 50px;
            }
            &_btn {
                font-size: 16px;
            }
        }
    }
}
@media (max-width:705px) {
    .mainContent {
        height: 1034px;
    }
}