.mainContent {
    margin: 0 auto;
    position: relative;
    margin-top: 140px;
    max-width: 1640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-bottom: 250px;

    &__titleBlock {
        position: relative;
        z-index: 3;
        width: 669px;
        h1 {
            margin: 0;
            font-size: 96px;
            font-style: normal;
            font-weight: 500;
            color: #FFF;
            text-transform: uppercase;
            span {
                color: #478BF9;
            }
        }
        h4 {
            margin: 24px 0 0 0;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.60);
        }
        &_btn {
            font-size: 24px;
            font-weight: 600;
            text-transform: uppercase;
            background-color: #478BF9;
            padding: 20px 70px;
            color: #FFF;
            border-radius: 48px;
            margin-top: 48px;
            cursor: pointer;
        }
    }
    &__blog {
        position: relative;
        z-index: 4;
        width: 531px;
        height: 595px;
        &_title {
            text-align: center;
            color:#FFF;
            font-size: 40px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 24px;
        }
        &_articles {
            overflow-y: auto;
            height: 100%;
            padding: 24px;
            padding-right: 16px;
            margin-right: 16px;
            &-container {
                padding-bottom: 24px;    
                background: rgba(255, 255, 255, 0.12);
                overflow: hidden;
                border-radius: 100px;
                width: 100%;
                border: 3px solid #478BF9;
                height: 100%;
                
            }
            
            &::-webkit-scrollbar {
                width: 8px;
            }
            &::-webkit-scrollbar-track {
                background: rgba($color: #FFF, $alpha: .12);
                margin: 90px 0 150px 0;
                border-radius: 4px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: #478BF9; 
                border-radius: 4px;

            }
            &-item{
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                margin-bottom: 16px;
                padding: 16px 64px;
                background-color: #1E1231;
                border-radius: 196px;
                width: 331px;
                cursor: pointer;
                a {
                    margin: 0;
                    display: block;
                    text-decoration: none;
                    color: #FFF;
                    font-size: 24px;
                    font-weight: 400;
                    margin-bottom: 14px;
                }
                div {
                    
                    color: rgba(255, 255, 255, 0.60);
                    font-size: 14px;
                    font-weight: 400;
                    
                }
                &:hover {
                    background-color: #478BF9;
                    div {
                        color: #FFF;
                    }
                }
            }
        }
    }
}


@media (max-width:1915px) {
    .mainContent {
        &__titleBlock {
            h1 {
                font-size: 80px;
            }
            h4 {
                font-size: 25px;
            }
            &_btn {
                font-size: 20px;
            }
        }

    }
}
@media (max-width:1750px) {
    .mainContent {
        &__titleBlock {
            h1 {
                font-size: 70px;
            }
            h4 {
                font-size: 20px;
            }
            &_btn {
                font-size: 15px;
            }
        }
        &__blog {
            width: 430px;
            height: 495px;
            &_title {
                font-size: 30px;
            }
            &_articles {
                &-item {
                    width: 235px;
                    a {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}