.swiper {
    width:100%;
    height: 868px;
    &-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: fit-content !important;
      margin-bottom: 7px;
        img {
          display: block;
          width: 100px;
          height: 100%;
          object-fit: cover;
        }
    }
    &__container {
      // opacity: 1;
      display: flex;
      width: 400px;
      justify-content: space-between;
      position: absolute;
      top: 120px;
      left: 50%;
      transform: translateX(-50%);  
      z-index: 1;
      &::before {
        content: '';
        position: absolute;
        z-index: 7;
        width: 400px;
        height: 150px;
        opacity: .9;
        bottom: -40px;
        left: -15px;
        background: linear-gradient(256deg, #110A1D 20%, #110A1D 90%);
        filter: blur(22px);
      }
      &::after{
        content: '';
        position: absolute;
        z-index: 3;
        width: 400px;
        height: 150px;
        opacity: .9;
        top:  -40px;
        left: -15px;
        background: linear-gradient(256deg, #110A1D 20%, #110A1D 100%);
        filter: blur(22px);
      }
    }
  }
.slider{
  &__left {
    opacity: 0.2;
  }
  &__middle {
    opacity: 0.5;
  }
  &__right{
    opacity: 0.2;
  }
}
@media (max-width:1750px) {
  .swiper {
    height: 900px;
    &-slide {
      img {
        width: 70px;
      }
    }
    &__container {
      width: 250px;
    }
  }
}
@media (max-width:1540px){
  .swiper {
    height: 1040px;
    &__container {
      rotate: 90deg;
      opacity: 0.6;
      top: -90px;
      left: 40%; /* position the left edge of the element at the middle of the parent */
      transform: translate(-50%)
    }
  }
}