@import './hedaer.scss';
@import './mainContent.scss';
@import './footer.scss';
@import './slider.scss';


* {
    font-family: Lexend;
}
body {
    margin: 0;
    width: 100%;
    background: #110A1D;
    
}
.promo {
    margin: 0 auto;
    position: relative;
	min-height: 100%;
    max-width: 1920px;
    padding: 16px 140px 0 140px;
    &__glow {
        &_linear {
            z-index: 1;
            position: absolute;
            top: -170px;
            left: 200px;
            width: 226px;
            height: 902px;
            transform: rotate(-54.311deg);
            background: linear-gradient(180deg, #478BF9 0%, rgba(71, 139, 249, 0.40) 100%);
            opacity: 0.55;
            filter: blur(150px);
        }
        &_point {
            z-index: 3;
            bottom: 0;
            right: -150px;
            position: absolute; 
            width: 574px;
            height: 574px;
            border-radius: 574px;
            opacity: 0.7;
            background: linear-gradient(256deg, #478BF9 0%, #9DADF2 100%);
            filter: blur(325px);
        }
    }
}
@media (max-width:1750px){
    .promo {
        &__glow {
            &_linear {
                top: -170px;
                left: 200px;
                width: 230px;
                height: 502px;

            }
            &_point {
                right: 0;
                bottom: 0;
            }
        } 
     }
  }